# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env
*.env

phase2/backend/venv/
phase2_new/backend/venv/

# Node / frontend (if any)
node_modules/
.next/
dist/
build/
